<div class="jumbotron">
	<h1>Welcome to <i class="fa fa-barcode"></i> Stub Market</h1>	
	<p>A great marketplace. Bla bla bla</p>
	<%= link_to "Books", "#", class: "btn btn-primary"%>
	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-warning"%>
</div>


