<div class="jumbotron">
	<h1>Welcome to <i class="fa fa-barcode"></i> Stub Market</h1>	
	<p>A great marketplace for books.</p>
	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-warning"%>
</div>
<div class="container" id="new_books">
	<h2>Newest books</h2>

	<div class="row">
		  <div class="col-md-3">.col-md-3</div>
		  <div class="col-md-3">.col-md-3</div>
		  <div class="col-md-3">.col-md-3</div>
		  <div class="col-md-3">.col-md-3</div>
	</div>

</div>
<div class="container">
	<h2>Newsletter signup</h2>
	
	
</div>